<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Area</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Editar Usuario</h2>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <form th:action="@{'/editar_empleado/' + ${empleado.dni != null ? empleado.dni : id}}" th:object="${empleado}" method="post">
        <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="text" class="form-control" id="dni" th:field="*{dni}" placeholder="Ingrese nombre" required readonly="readonly">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese nombre" required>
        </div> 
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" th:field="*{apellido}" placeholder="Ingrese apellido" required>
        </div> 
        <div class="form-group">
                <label for="fechaNacimiento">Fecha Nacimiento</label>
                <input type="date" th:field="*{fechaNacimiento}" class="form-control" id="fechaNacimiento" required>
         </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion" th:field="*{direccion}" placeholder="Ingrese nombre" required>
        </div> 
        <div class="form-group">
            <label for="correo">Correo:</label>
            <input type="text" class="form-control" id="correo" th:field="*{correo}" placeholder="Ingrese nombre" required>
        </div>   
        <div class="form-group">
                <label for="area">Area</label>
                <select th:field="*{area}" class="form-control" id="area" required>
                    <option th:each="area : ${areas}" 
                            th:value="${area.id}" 
                            th:text="${area.nombreArea}">
                    </option>
                </select>
         </div>     
        <a th:href="@{/}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>
</body>
</html>