<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Registrar Area</title>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Registro de Area</h2>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <form th:action="@{/area/registrar_area}" th:object="${area}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre Area:</label>
            <input type="text" class="form-control" id="nombreArea" th:field="*{nombreArea}" placeholder="Ingrese nombre del area" required>
        </div>
        <a th:href="@{/area}" class="btn btn-secondary">Regresar</a>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
</body>
</html>